
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style2.css">
        <title>Document</title>
</head>
<body>

        <div class="mx-auto" style="width: 750px;" >
        <div class="row">
        <form action="/api/signup" method="POST" > 
            <div class="p-3 py-5">
                
                 <h4 class="text-center">PROFILE</h4>

                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input  name="name" type="text" class="form-control" placeholder="First name" value=""></div>
                    <div class="col-md-6"><label class="labels">Last Name </label><input name="lastname" type="text" class="form-control" value="" placeholder="Last Name "></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input name="phone_number" type="text" class="form-control" placeholder="Phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">College Name</label><input name="college_name" type="text" class="form-control" placeholder="College Name" value=""></div>
                    <div class="col-md-12" ><label class="labels">Area of Interest</label><input name="interest" type="text" class="form-control" placeholder="Area of interest" value=""></div>
                    <div class="col-md-12"><label class="labels">About me</label><input name="about_me" type="text" class="form-control" placeholder="About me" value=""></div>
                    <div class="col-md-12"><label class="labels">Linkedin link</label><input name="linkedin" type="text" class="form-control" placeholder="Linkedin link" value=""></div>           
                    <div class="col-md-12"><label class="labels">Github</label><input name="github" type="text" class="form-control" placeholder="Github link" value=""></div>           
                  <div class="col-md-12"><label class="labels">Email ID</label><input name="email" type="text" class="form-control" placeholder="Email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Password</label><input name="password" type="text" class="form-control" placeholder="Password" value=""></div>           
                
                
                
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Submit</button></div>
            </div>
          </form>
        </div></div>


        
</body>
</html>